﻿<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <div>
            <h2>All Customers</h2>
        </div>
        <div>
            <table id="customers" style="border: 1px solid black;"  ></table> 
        </div>
        
    </section>
</div>

@section scripts {
<script>
    
    var apiCustomers = 'api/customer';
    $(document).ready(function () {
        // Send an AJAX request
        var rows = '';
        $('#products').empty();

        $.getJSON(apiCustomers,
            function (data) {
                $.each(data, function (key, val) {
                    var customerURL = apiCustomers + '/' + val.CustomerID;
                    rows = rows + '<tr style="border: 1px solid black;"><td>&nbsp;&nbsp;' + 
                    '<a style="color: Blue; font-weight:bold; font-size:15px"'
                       + 'href="' + customerURL + '">' + val.CustomerID + '</a>' + 
                        '</td><td>' + val.CompanyName + '</td><td>' + val.City + '</td></tr>';
                });
                $('#customers').html(rows);
            });
    });
</script>
}